.header__container {
  height: 70px;
  padding: 25px;
  background-color: var(--header-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__container .header__menu-principal {
}

.header__image {
  position: relative;
  left: -10%;
  height: 55px;
}

.header__container .header__menu-principal a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  font-family: 'Comfortaa', cursive;;
  color: var(--white-color);
}

.banner__container {
  width: 100%;
  text-align: center;
  margin-top: 1.2%;
}

.banner__title{
  font-size: 5rem;
  color: var(--white-color);
  position: absolute;
  right: 30%;
  top: 53%;
  border-bottom: 5px solid var(--white-color);
}

.banner__logo{
  position: absolute;
  width: 12%;
  left: 22%;
  top: 50%;
  transform: rotate(-19deg);
}

.banner__image {
  width: 80%;
  max-width: 100%;
  box-shadow: var(--shadow);
  border-radius: 6px;
}
