/* HEADER */
.header__container {
  height: 70px;
  padding: 25px;
  background-color: var(--red-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__image {
  position: relative;
  left: -10%;
  height: 55px;
}

.header__container .header__menu-principal a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  /* font-family: 'Comfortaa', cursive; */
  color: var(--white-color);
}
/*  */

/* BANNER INICIAL */
.banner__container {
  width: 100%;
  text-align: center;
  margin-top: 1.2%;
}

.banner__title{
  font-size: 5rem;
  color: var(--white-color);
  position: absolute;
  right: 30%;
  top: 53%;
  border-bottom: 5px solid var(--white-color);
}

.banner__logo{
  position: absolute;
  width: 12%;
  left: 22%;
  top: 50%;
  transform: rotate(-19deg);
}

.banner__image {
  width: 80%;
  max-width: 100%;
  box-shadow: var(--shadow);
  border-radius: 6px;
}
/*  */

/* NEWSLETTER */

.newsletter__container{
  padding: 100px;
  margin-top: 32px;
  max-width: 100%;
  width: 100%;
  box-shadow: var(--shadow);
  background-color: var(--red-primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.newsletter__container div p {
  font-size: 1.4rem;
}
.newsletter__email__input{
  padding: 8px;
  border-radius: 5px;
  border: none;
}
/* FOOTER */

.footer__block{ 
  position: absolute;
  width: auto;
  height: auto;
  padding: 30px;
  
}
.footer__block--main{ 
  display: flex;
}
.footer__block--main-text{
  font-family: var(--footer__font-main);
  text-align: center;
}

.footer__containner{
  position: relative;
  left: 10%;
  
  
}
.footer__containner--icon{
  width: 40px;
  padding: 30px;
   
}
/*.footer__containner--icon:hover{
  width: 45px;
  
}*/

.footer__containner--info{
  position: relative;
  left: 40%;
  
}
.footer__containner--ref{
  padding-top: 30px;
}

.footer__containner--ref-link{
  font-family: var(--footer__font-main);
  text-decoration: none;
  padding: 10px;
}
.footer__containner--ref-link:hover{
  text-decoration: underline;
  
}
.footer__baseboard{ 
  position: relative;
  left: 25%;
  font-family:var(--footer__font-baseboard) ;
  text-align: center;
  padding-top: 50px;
  width: auto;  
}
.footer__baseboard > a{
  text-decoration: none;
}